{% extends 'index.html' %}

{% block body %}

<div class="center-container" style="margin: 10%;"> 

    <h4 class="subtitle is-4">


    You can reach out to me for any inquiries or collaborations using the following contact details:
    <br>
    Email: <strong>harsh01200@gmail.com</strong>
    <br>
    LinkedIn: - <a href="https://www.linkedin.com/in/harsh01200">linkedin.com/in/harsh01200</a>
    <br>
    Feel free to connect with me on LinkedIn, where you can find more about my professional background and projects. I'm always open to networking and discussing exciting opportunities in the fields of cybersecurity, app development, and web development. Looking forward to connecting with you!
    
</h4>

</div>
    

{% endblock %}